template {
  display: none;
}

.vertical, .horizontal {
  display: -webkit-flex;
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.vertical {
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.horizontal {
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fill {
  -webkit-flex: 1;
  -o-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

html, body, .fill-height {
  box-sizing: border-box;
  height: 100%;
}

.fill-width {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0px;

  color: black;
  background-color: white;
}

body.solarized {
  color: #657b83;
  background-color: #fdf6e3
}

body.monokai {
  color: white;
  background-color: #474842;
}

body, input {
  font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
  font-size: 10pt;
}

.button .icon {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", monospace;
}

.button .label, .wait {
  font-size: 10pt;
}

hr {
  margin: 0px;
  width: 100%;
  height: 1px;
  background-color: black;
  border: 0px;
}

.solarized hr {
  background-color: #586e75;
}

ul, ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.animated {
  transition: 0.3s linear;
}

.header {
  position: relative;

  font-size: 12pt;
  height: 1em;
  padding: 5px;

  -webkit-align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  cursor: default;

  text-align: center;
}

.button, .wait {
  display: inline-block;
  text-align: left;

  display: -webkit-inline-flex;
  display: -o-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;

  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button .icon {
  display: inline-block;
  font-size: 15pt;
  padding: 0px 5px;
}

.button, .link {
  cursor: pointer;
}

.no-select {
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-sidebar {
  position: relative;
  min-width: 60px;
  width: 200px;
  padding: 9px 0px 10px;
}

#left-sidebar .button {
  overflow: hidden;
  height: 27px;
  min-width: 25px;

  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#left-sidebar .button .label {
  display: inline-block;
}

#left-sidebar-resize {
  width: 5px;
  background-color: #839496;
  cursor: col-resize;
}

#file-tree {
  margin: 5px;
  padding: 5px 0px;
  border-top: 1px solid #586e75;

  cursor: default;
}

.directory .icon:before{
  font-size: 8pt;
  color: #808080;
  overflow-x: hidden;
  float: left;
}

.directory .close:before{
  content:'\25B6';
}

.directory .open:before{
  content:'\25BC';
}

.directory-name {
  margin-left: 12px;
}

.file-name, .file-name-input, .directory-name {
  font-size: 10pt;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", monospace;
  white-space: nowrap;
}

#file-tree .directory {
  font-weight: bold;
}

#file-tree .file {
  font-weight: normal;
}

.file, .directory {
  position: relative;
  padding: 0px 8px;
  margin: 5px 0px;
  cursor: pointer;
}

.file .file-name, .directory .directory-name {
  overflow-x: hidden;
}

#upload {
  left: 0px;
  color: #b58900;
}

#new-file {
  -webkit-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  right: 0px;
  color: #5f8700;
  text-align: right;
}

#upload .icon {
  -webkit-transform: rotate(0.5turn);
  -o-transform: rotate(0.5turn);
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  transform: rotate(0.5turn);
}

#upload .label {
  margin-right: 10px;
}

#new-file .label {
  margin-left: 5px;
}

#upload-input {
  display: none;
}

#right-content {
  padding: 10px 10px 10px 0px;
  height: 100%;
}

.view {
  padding: 10px 10px 10px 0px;

  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  min-width: 760px;
}

.view.hidden {
  display: none;
}

.open-file {
  -webkit-flex: 1 0 750px;
  -o-flex: 1 0 750px;
  -moz-flex: 1 0 750px;
  -ms-flex: 1 0 750px;
  flex: 1 0 750px;

  min-height: 50%;
  max-height: 100%;
}

.feedback {
  /* Using a huge value here hacks the open-file settings above to fill
   * available space only when the feedback wraps. */
  -webkit-flex: 1000;
  -o-flex: 1000;
  -moz-flex: 1000;
  -ms-flex: 1000;
  flex: 1000;

  min-height: 150px;
  min-width: 500px;
  max-height: 100%;
}

@media all and (min-height: 600px) {
  .open-file {
    min-height: 75%;
  }
}

.view .file-name {
  cursor: pointer;
  display: inline-block;
}

.view .file-name-input {
  padding: 0px;
  margin: 0px;

  background-color: transparent;
  border: 0px;
  text-align: center;

  display: none;
}

.download {
  color: #b58900;
}

.delete {
  color: #dc322f;
}

.editor, .output {
  font-size: 10pt;
  border: 1px solid #586e75;
  margin: 0px 5px;
}

.feedback .button, .wait {
  -webkit-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  height: 27px;
}

.run {
  color: #5f8700;
  background-color: rgba(95, 135, 0, 0.1);
  border: 1px solid rgba(95, 135, 0, 0.3);
  border-bottom: 0px;
}

.wait, .build {
  color: #586e75;
  background-color: rgba(88, 110, 117, 0.1);
  border: 1px solid rgba(88, 110, 117, 0.3);
  border-bottom: 0px;
}

.stop {
  color: #dc322f;
  background-color: rgba(220, 50, 47, 0.1);
  border: 1px solid rgba(220, 50, 47, 0.3);
  border-bottom: 0px;
}

.run, .stop, .wait, .ready .build, .running .build, .building .build {
  display: none;
}

.ready:not(.running) .run, .running .stop, .build, .building .wait {
  display: -webkit-flex;
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.output {
  /*-webkit-flex: 1 1 100%;*/
  /*-o-flex: 1;*/
  /*-moz-flex: 1;*/
  /*-ms-flex: 1;*/
  /*flex: 1;*/

  padding: 8px 0px;

  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* ancient Opera */
  white-space: -o-pre-wrap; /* newer Opera */
  white-space: pre-wrap; /* Chrome; W3C standard */
  word-wrap: break-word; /* IE */

  overflow-y: auto;

  max-height: 100%;

  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", monospace;
}

.output p {
  padding: 2px 10px 0px 10px;
  margin: 0px;
}

.output .error {
  color: #dc322f;
}

.output .trace {
  color: #A7A8A2;
}

#frame-dump, #minigrace-dump {
  display: none;
}

#version {
  text-align: center;
  overflow-x: hidden;
  margin: 0px 5px;
}

.height-calculator {
  position: absolute;
  top: -1000000px;
  left: -1000000px;
}
